<div>
    @if(parent == 'card'){
  <button type="button" class="btn no-style-btn" [routerLink]="['/user', _id]">
    <i class="bi bi-search"></i> 
    <br>Ver detalle
  </button>
}@else if(parent == 'view'){
    <button type="button" class="btn no-style-btn" [routerLink]="['/home']">
        <i class="bi bi-search"></i> 
        <br>Volver a listado
      </button>
}
  
  <button type="button" class="btn no-style-btn" [routerLink]="['/updateuser', _id]">
    <i class="bi bi-arrow-clockwise"></i> 
    <br>Actualizar
  </button>
  

  <button type="button" class="btn no-style-btn" (click)="borrar(_id)">
    <i class="bi bi-trash"></i> 
    <br>Eliminar
  </button>
  
</div>

